@media (min-width: 630px) {
    html {
        background-image: url(../img/family.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    body {
        display: flex;
        flex-dir ection: row;
        flex-wrap: wrap;
        background-position: center;
        justify-content: center;

    }

    header {
        flex: 0 1 100%;

    }

    header h1 {
        display: inherit;
    }

    header button {
        border: 0;
    }

    form {
        min-width: 42%;
        width: 44%;
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 1em;
    }

    form:first-of-type {
        margin-left: 2%;
        padding-right: 0.2em;
        margin-top: 1em;
        padding-left: 0.7em;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        padding-bottom: 0.8em;
    }
    form:nth-of-type(2) {
        padding-left: 0.2em;
        border-width: 0 0 0 2px;
        border-style: solid;
        margin-top: 1em;
        margin-right: 2%;
        padding-right: 0.7em;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;

    }
    form:first-of-type button:nth-of-type(3):hover,
    form:nth-of-type(2) button:hover {
        background-color: #6cc605;
    }

    h3 {
        display: none;
    }

    body > form:nth-of-type(2) > h2 {

        margin-top: 0.4em;
        margin-bottom: 3.83em;
    }
    a {
        text-decoration: none;
        color: #444444;
        margin: 0.5em auto 1em auto;
        color: #FFAD00;
    }

    p {
        text-align: center;
        margin: 0.5em auto 1em auto;
        color: #FFAD00;
    }

    span > input {
        margin-left: 2%;
        margin-right: 2%;
        min-width: 20%;
        max-width: 96.8%;
    }
    form:nth-of-type(2) button {
        margin-top: auto;
    }

    form:first-of-type button:nth-of-type(3) {
        margin-top: auto;
    }
}

input:hover {
    cursor: text;
}



@media (min-width: 680px) {
    form:nth-of-type(2) {
        padding-left: 0.4em;

    }
    form:first-of-type {
        padding-right: 0.4em;

    }
}

@media (min-width: 950px) {
    form {
        min-width: 13em;
        width: 18em;
    }
}


}
