/* GENERAL */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
    width: 100vw;

}

html {
    overflow-x: hidden;
}

* {
    border-color: #C8C8C8;
}

body {
    display: grid;
    grid-template-areas: "header header header" "line line line" "banner banner banner" "message message message" ". form ." ". main ." "footer footer footer";
    grid-template-rows: [row1-start]2.5em[row1-end row2-start] 2em [row2-end row3-start] 10em [row3-end row4-start] auto[row4-end row5-start] auto [row5-end row6-start] auto [row6-end row7-start] 10em [row7-end];
    grid-template-columns: 2% 1fr 2%;

}

button:hover {
    cursor: pointer;
}

/* START HEADER */

body > header {
    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    background-color: #73D700;
    grid-area: header;
}



body > header img {
    margin: 0.25em 0 1em;
    margin-left: 2%;
    height: 2em;
}

body > header h1 {
    display: none;
}

body > header > button {
    background-image: url(../img/search.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 65%;
    background-color: #73D700;
    width: 5.5em;
    margin-left: auto;
    margin-right: 2%;
    margin-top: 0.05em;
    margin-bottom: 0.05em;
    text-indent: 666em;
    border: none;
    border-color: #73D700;
}

body > header > a {
    text-decoration: none;
    align-self: center;
    margin-right: 6%;
    color: white;
    font-weight: 700;
}

/* END HEADER */

/* Start CATCHPHRASE */

section {
    grid-area: line;
    margin: 0;
    background-color: #444444;
    text-align: center;
    color: white;
    line-height: 0.1em;

}

/* END CATCHPHRASE */

/* START BANNER */

aside:nth-of-type(1) {
    background-image: url(../img/isolation.jpg);
    background-size: cover;
    background-position: center;
    grid-area: banner;
    color: white;
    font-size: 1.5em;
}

aside:first-of-type p {
    display: none;

}

aside:first-of-type button {
    display: none;
}

aside > div {}

/* END BANNER */

/* START MESSAGE*/

aside:nth-of-type(2) {
    padding: 0 2%;
    grid-area: message;
    padding: 0;
    color: #444444;
    background-color: #F7F7F7;

}

aside:nth-of-type(2) p {
    text-align: center;
    margin: 0.5em;
    font-weight: 700;
}

aside:nth-of-type(2) button {
    width: 96%;
    height: 2em;
    background-color: #FFAD00;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 700;
    color: white;
    margin: 0 2% 0.5em;

}

/* END MESSAGE */

/* START FILTERS */

form {
    grid-area: form;
    border-bottom: solid;
    border-color: #C8C8C8;
    border-width: 1px;

}


form select {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    width: 100%;
    outline: 0;
    box-shadow: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 2em;
    font-size: 1em;
    cursor: pointer;
    justify-content: flex-start;
    text-indent: 1em;
}

form select:nth-of-type(2) {
    margin-bottom: 0.5em;
}

form label {
    margin-left: 1.25em;
}

/* END FILTERS */

main {
    grid-area: main;
}


article {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}



article h3 {
    margin: 1em 0 0 0;
    font-weight: 700;
    color: #444444;
}

article p {
    margin: 1em 0.5em 1em 0.5em;
    font-size: 0.7em;
    font-weight: 300;
}

article a {
    display: inline-block;
    margin: 0 0 1em 0;
    color: #FFAD00;
    text-decoration: none;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 0 auto 1em auto;
}

article a::after {
    content: ">";
    color: black
}

article footer {
    display: flex;
    flex-direction: row;

    margin: 0 0.3em 0.3em 0.3em;
}

article footer button {
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-color: white;
    width: 5em;
    height: 5em;
    text-indent: -666em;
    margin: 0 0 0.1em 0.1em;
    background-size: 60%;
    background-position: center;
}

article footer button:first-of-type {
    background-size: 75%;
    margin-left: 0;
    background-image: url(../img/heart-shape-silhouette.svg);
}

article footer button:nth-of-type(2) {
    background-image: url(../img/add-list.svg);
    margin-left: auto;
    background-size: 70%;
    width: 3em;
    height: 3em;
    margin: 1em 2em 0 auto;
}

article footer button:nth-of-type(3) {
    background-image: url(../img/share.svg);
    background-size: 70%;
    width: 3em;
    height: 3em;
    margin-top: 1em;
    margin-right: 1em;
}

article footer p {
    height: 1em;
    margin: 0;
    transform: translate(-0.75em, 2.3em);

}

body > footer {
    background-image: url(../img/footer.jpg);
    grid-area: footer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#container {
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 10%;
    margin-bottom: 10%;
    width: 3em;
    height: 3em;
    background-image: url(../img/upload.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    padding: 0.5em;
    background-color: #73D700;
    -webkit-box-shadow: -2px 3px 69px 1px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: -2px 3px 69px 1px rgba(0, 0, 0, 0.51);
    box-shadow: -2px 3px 69px 1px rgba(0, 0, 0, 0.51);
    border-radius: 1.5em;
    transition: all 0.2s;

}


#container:hover {
    background-image: url(../img/toTop.svg);
    background-color: #95f900;
    margin-bottom: 11%;
    em;
    -webkit-box-shadow: -2px 9px 78px 1px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -2px 9px 78px 1px rgba(0, 0, 0, 0.49);
    box-shadow: -2px 9px 78px 1px rgba(0, 0, 0, 0.49);
}
