@media (min-width: 630px) {
    body {}

    body {
        display: grid;
        grid-template-areas: "header header header" "line line line" "banner banner banner" "message message message" ". form ." ". main ." "footer footer footer";
        grid-template-rows: [row1-start]2.5em[row1-end row2-start] 2em [row2-end row3-start] 15em [row3-end row4-start] auto[row4-end row5-start] auto [row5-end row6-start] auto [row6-end row7-start] 10em [row7-end];
        grid-template-columns: 2% 1fr 2%;

    }

    body > header h1 {
        display: inherit;
        margin-left: 2em;

    }
    /* START BANNER */
    aside > div {
        height: auto;
        background-color: rgba(255, 255, 255, 0.9);
        height: 3em;
        margin: 6em auto;
        border-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1em;
        max-width: 20em;
    }
    aside:first-of-type p {
        display: inline-block;
        color: #444444;
        margin-left: 1em;
    }

    aside:first-of-type button {
        display: inline-block;
        height: 2em;
        background-color: #FFAD00;
        width: 8em;
        border-radius: 10px;
        font-size: 0.9em;
        color: white;
        margin: auto;
        margin-right: 1em;
        border: none;

    }

    aside:nth-of-type(2) {
        display: none;
    }

    /* END BANNER */
    /* START FORM */
    form {
        display: flex;
        overflow: hidden;
    }


    form > select {
        min-width: 49%;
        margin-top: 2em;
        margin-left: 0;
    }
    form > select:first-of-type {
        margin-left: 0;
    }
    form > select:nth-of-type(2) {
        order: 4;

    }

    form > p {
        min-width: 5em;
    }

    /* END FORM */
    /* START MAIN */
    main {
        display: flex;
        flex-wrap: wrap;
    }
    article {
        display: flex;
        flex-direction: column;
        min-width: 10%;
        width: 49%;
        overflow: hidden;
    }



    article:nth-of-type(even) {
        margin-left: 1%;
    }

    article > header {
        background-image: url(../img/guitar.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 6em;
    }

    article > footer {
        align-self: flex-end;
    }

    article header h3 {
        text-align: left;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 0.2em;
        border-radius: 5px;
        color: #444444;
        display: inline-block;
    }

    article > p {
        margin: 1em;
    }

    /* START ARTICLE PHOTOS */
    article:first-of-type > header {
        /*Photo by Tim Gouw from Pexels */
        background-image: url(../img/frustrated.jpeg);

    }
    article:nth-of-type(2) > header {
        /*Photo by Pedro Figueras from Pexels */
        background-image: url(../img/zombie.jpeg);
    }
    article:nth-of-type(3) > header {
        /*Photo by Josh Sorenson from Pexels */
        background-image: url(../img/western.jpeg);
    }

    /* END ARTICLE PHOTOS */
    /* END MAIN */
}

/*
@media (min-width: 830px;) and @media (max-width: 1200px){
    article:nth-of-type(1n + 3){
        margin-top: 0;
    }
}
*/
